c_*.c
pufferlib/extensions.c
pufferlib/puffernet.c
logs/

build/

pufferlib/extensions/hip/

raylib_wasm/

__pycache__/
*.py[cod]
*$py.class
*.npy
cy_*.c

*.so
*.o

.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.DS_Store

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

__pypackages__/

celerybeat-schedule
celerybeat.pid

*.sage.py

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/
.pylintrc
.vscode/

*.gb

checkpoints/
experiments/
wandb/
.neptune/
raylib*/
box2d*/

pufferlib/ocean/impulse_wars/*-debug/
pufferlib/ocean/impulse_wars/*-release/
pufferlib/ocean/impulse_wars/debug-*/
pufferlib/ocean/impulse_wars/release-*/
pufferlib/ocean/impulse_wars/benchmark/

resources/drive/data/*
resources/drive/binaries/*

/osrs_colosseum
/osrs_inferno
/osrs_pvp
*.dSYM/
.omegacode/
ocean/osrs/data

/*.bin
colosseum_postfix_repro_checkpoints/
